<% include ../partials/header.ejs %>
<main class="edit">

  <h2>Edit <%= game.name %></h2>
  <form id="editform" method="POST" action="/games/<%= game.id%>/?_method=PUT">
    <input type="text" name="name" value="<%= game.name %>" /><br />
    <!-- <input type="text" name="description" value="<%= game.description %>" /><br /> -->
    <textarea name="description" form="editform" class="text-area"><%= game.description %></textarea>
    <input type="text" name="players" value="<%= game.players %>" />
    <br />
    <input type="submit" class="button" value="Update" />
    <a href="/games/<%= game.id %>" class="button lift">Go Back</a>
  </form>
  

</main>
<% include ../partials/footer.ejs %>