<% include ../partials/header.ejs %>
<main class="show">

  <h2> <%= game.name %></h2>
  <h3> <%= game.description %></h3>
  <p> Max Players: <%= game.players %></p>

  <form method="POST" action="/games/<%= game.id %>?_method=DELETE">
    <a href="/games/<%= game.id %>/edit" class="button">Edit</a>
    <input type="submit" value="Delete" class="button">
  </form>

</main>
<% include ../partials/footer.ejs %>